<list-skeleton *ngIf="stateData" />

<div *ngIf="!stateData" class="row">
  <div class="col-md-4">
    <img
      [src]="'https://image.tmdb.org/t/p/w1280' + movie.poster_path"
      [alt]="movie.Title"
      class="img img-thumbnail w-100"
    />
  </div>
  <div class="col-md-8">
    <h3>{{ movie.Title }}</h3>

    <table class="table table-striped table-hover">
      <tbody>
        <tr>
          <td class="text-light fw-bold">Overview</td>
          <td class="lh-lg text-light">{{ movie.overview }}</td>
        </tr>
        <tr>
          <td class="text-light fw-bold">Original Language</td>
          <td class="text-light">{{ movie.original_language }}</td>
        </tr>
        <tr>
          <td class="text-light fw-bold">Release Date</td>
          <td class="text-light">{{ movie.release_date }}</td>
        </tr>
        <tr>
          <td class="text-light fw-bold">Popularity</td>
          <td class="text-light">{{ movie.popularity }}</td>
        </tr>
        <tr>
          <td class="text-light fw-bold">Genre</td>
          <td class="text-light">
            <span *ngFor="let genre of movie.genres">{{ genre.name }},</span>
          </td>
        </tr>
        <tr>
          <td class="text-light fw-bold">Vote Average</td>
          <td class="text-light">{{ movie.vote_average }}</td>
        </tr>
        <tr>
          <td class="text-light fw-bold">Vote Count</td>
          <td class="text-light">{{ movie.vote_count }}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success" (click)="goBack()">Back</button>
  </div>
</div>
