<!-- <list-skeleton *ngIf="stateData" /> -->

<div>
  <h2 class="text-center text-light mb-4">{{ movieTitle }}</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col card-movie" *ngFor="let movie of movies">
      <div class="card h-100 link" [routerLink]="['/movie-details', movie.id]">
        <div class="card-img-container">
          <!-- <img
            [src]="'https://image.tmdb.org/t/p/w1280' + movie.poster_path"
            [alt]="movie.title"
            class="card-img-top"
          /> -->
          <app-lazy-image
            [movieUrl]="'https://image.tmdb.org/t/p/w1280' + movie.poster_path"
            [movieAlt]="movie.title"
            class="card-img-movie"
          />
        </div>
        <div class="card-body">
          <h4 class="card-title text-success">{{ movie.title }}</h4>
          <small class="text-end d-block mb-2">{{ movie.release_date }}</small>
          <p class="card-text movie-text">
            {{ movie.overview }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
